html {
    background-color: #f6fcff;
    background-image: url('../img/main-background.png');
    background-size: cover;
}

b {
    font-weight: 900;
}

.card {
    background-color: white;
    padding: 1em 3em;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

}

body {
    max-width: 50em;
    margin: 0px auto;
}